.customCheck {
  border: 1px solid black;
  border-radius: 0.2rem;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 0.1rem;
}

.customCheck.primary {
  border: 0.2rem solid #ebebeb;
}

.customCheck.secondary {
  border: 0.1rem solid #999;
}

.customCheck.checkedTrue::after {
  content: "";
  border: 1px solid #00b9f5;
  border-width: 0 0 0.1rem 0.1rem;
  border-style: solid;
  height: 0.4rem;
  width: 0.8rem;
  border-top: 0;
  border-right: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.customCheck.checkedTrue.secondary {
  background-color: #00b9f5;
}

.customCheck.checkedTrue.secondary::after {
  border-color: #fff;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
  user-select: none;
}
